<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.bustaja">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_busapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_busapp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Appbar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MyLocationMain"

            android:theme="@style/AppTheme.Appbar"></activity>

        <activity
            android:name=".FindActivity"

            android:theme="@style/AppTheme.Appbar"></activity>
        <activity
            android:name=".ProfileActivity"

            android:theme="@style/AppTheme.Appbar"></activity>
        <activity
            android:name=".AccessMain"

            android:theme="@style/AppTheme.Appbar" />
        <activity
            android:name=".InformationMain"

            android:theme="@style/AppTheme.Appbar" />
        <activity
            android:name=".AddmemMain"

            android:theme="@style/AppTheme.Appbar" />
        <activity
            android:name=".NoticeMain"

            android:theme="@style/AppTheme.Appbar" />
        <activity
            android:name=".LoginMain"
            android:theme="@style/AppTheme.Appbar" />
        <activity
            android:name=".MessageboardMain"

            android:theme="@style/AppTheme.Appbar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessageboardNew"

            android:theme="@style/AppTheme.Appbar"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Intro"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessageboardDetail"

            android:theme="@style/AppTheme.Appbar" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDHSTJsP2tRp5iUC9h6B5ru69CHmSKdrR8"     />

    </application>

</manifest>